.jumbotron{
    padding-top: 5rem;
    background-color: #e2edff;
}

#gallery{
    padding-top: 4rem;
    background-color: #e2edff;
}

#about{
    padding-top: 4rem;
}

#contact{
    padding-top: 4rem;
}

.social-icon:not(:last-child) {
    margin-right: 8px;
}


#particles-js1{
    background-color: #000000;
    position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
    z-index: -1;
}


#text-overlay1 {
        position: fixed;
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        font-size: 185%; 
        font-weight: 700;
        text-align: center; 
        color: white; 
}
